h1 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  margin: 24px 0;
}

.bold-paragraph {
  color: #6eb2ff;
}

#bold {
  background-color: rgb(255, 71, 102);
  color: white;
}

img {
  width: 40vw;
  height: 40vw;
  overflow: hidden;
  border-radius: 5px;
}
